[Desktop Entry]
Type=Application
Name=ParsiNegar Desktop
Name[fa]=پارسی‌نگار دسکتاپ
Comment=Persian and right-to-left text tools
Comment[fa]=ابزارهای متن فارسی و راست‌به‌چپ
Exec=ParsiNegar
Icon=com.leomoon.ParsiNegarDesktop
Terminal=false
Categories=Utility;TextTools;
Keywords=Persian;Arabic;Urdu;Kurdish;Hebrew;RTL;Text;
StartupNotify=true
